<div
  class="media pt-3 thread"
     (click)="clicked($event)"

  [ngClass]="{'selectedThread' : selected}"
>
  <img src="{{thread.avatarSrc}}" alt="" class="media-object avatar mr-2 rounded">

  <div class="media-body pb-3 mb-0 small lh-125">
    <div class="d-flex justify-content-between align-items-center w-100">
      <strong>{{thread.name}}
        <span *ngIf="selected">&bull;</span>
      </strong>


    </div>
    <span class="d-block">{{thread.lastMessage.text}}</span>
  </div>
</div>
